.section4{
    text-align: center;
}

.section4 h1{
    font-size: 40px;
}

.section4 hr{
    width: 200px;
    border:2px solid #c5dee3;;
    height: 0px;
    margin: 55px 20px;
}

.section4 .hhr{
    display: flex;
    justify-content: center;
}

.section4 p{
    width: 80%;
    margin-left: auto;
    margin-right:auto ;
    line-height: 30px;
    font-weight: bold;
    color: #36364f;
    margin-top: -10px;
}

.section4 .sec4-main{
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 3% 12% 0;
}

.section4 .sec4-child h2{
    font-size: 30px;
    color:#1e244c;
    font-weight: 300;
    margin-bottom:10px ;
    text-align: start;
}

.section4 .sec4-child p{
    margin: 20px 0px;
    text-align: start;
    width: 90%;
    line-height: 25px;
    color: #5e5e6e;
    font-size:14px ;
}

.section4 .sec4-main1{
    display: flex;
    justify-content: start;
    width: 76%;
    margin: 0px auto;
}

.section4 .sec4-main1 div{
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1fcad3;
    margin: 5px 5px 40px;
}